.main {
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}

.main-content {
    padding: 1.5rem;
    align-items: center;
}

.card-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-bottom: 2rem;
}

.card {
    background-color: #2D3748;
    border-radius: 8px;
    height: 250px;
}

.card-title h4 {
    margin: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
    align-items: left;
}

.format {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
    font-weight: 600;
}

.card-info {
    display: flex;
    gap: 10px;
    color: #9ca3af
}

.input-row {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
  }
  
  .card-input {
    flex: 1;
    padding: 0.5rem 0.75rem;
    border: 1px solid #4b5563;
    border-radius: 0.375rem;
    background-color: #374151;
    color: #e2e8f0;
    font-size: 1rem;
    outline: none;
  }
  
  .card-input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.4); /* blue glow */
  }
  
  .btn-icon {
    padding: 0.5rem;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-icon:hover {
    background-color: #4338ca;
  }
  
  .card-footer {
    font-weight: 100;
    color: #9ca3af
  }